@import "tailwindcss";

:root {
  font-family: var(--font-montserrat), var(--font-oxygen), var(--font-roboto),
    sans-serif;
  --color-primary: #2aae9e;
  --color-secondary: #2e7d32;
  --color-accent: #ffd54f;
  --color-highlight: #ff8a65;
  --color-background: #f9fafb;
  --color-text-primary: #111827;
  --color-text-muted: #6b7280;
  --color-border-divider: #e5e7eb;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-montserrat), sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  user-select: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.oxygen {
  font-family: var(--font-oxygen), sans-serif;
}

.roboto {
  font-family: var(--font-montserrat), sans-serif;

}
 

.hero {
  /* base gradient colors */
  background: #3a6f43;
  background: radial-gradient(
    circle,
    rgba(58, 111, 67, 1) 0%,
    rgba(6, 66, 50, 1) 100%
  );
}

/* keyframes to animate background position */
@keyframes heroGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-glass {
  background-color: rgba(22, 15, 54, 0.3); /* 30% opaque white */
  backdrop-filter: blur(8px); /* glass blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}
